{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="pt-4">
        <h1>Change your Password</h1>
            <div class="header-underline"></div>
    </div>
    <div class="mt-4">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3">
                {% for field in form %}
                <div class="col-sm-6">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
            </div>
            <button style="border-radius:2rem;" class="btn btn-success d-block mt-4" type="submit" name="action">
                Submit</button>
        </form>
    </div>
</div>
{% endblock content %}