{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home-container">
    <div class="home-image-container d-flex flex-wrap">
        <a href="{% url 'products:home' %}" class="position-relative home-image-box p-0 overflow-hidden">
            <img class="mw-100 h-auto" src="{% static 'images/accounts/electronics.avif' %}" alt="Electronics">
            <span class="home-image-type position-absolute">All Products</span>
        </a>
        <a href="{% url 'books:home' %}" class="position-relative home-image-box p-0 overflow-hidden">
            <img class="mw-100 h-auto" src="{% static 'images/accounts/furniture.avif' %}" alt="Furniture">
            <span class="home-image-type position-absolute">Books</span>
        </a>
    </div>
    <div class="home-image-container d-flex flex-wrap">
        <a href="{% url 'accounts:home' %}" class="position-relative home-image-box p-0 overflow-hidden">
            <img class="mw-100 h-auto" src="{% static 'images/accounts/rent.avif' %}" alt="Rental">
            <span class="home-image-type position-absolute">Rental</span>
        </a>
        <a href="{% url 'accounts:home' %}" class="position-relative home-image-box p-0 overflow-hidden">
            <img class="mw-100 h-auto" src="{% static 'images/accounts/lost.avif' %}" alt="Lost & Found">
            <span class="home-image-type position-absolute">Lost and Found</span>
        </a>
    </div>
</div>

<hr/>

{% if products %}
  <marquee>
  <div class="row mt-3" style>
    {% for product in products %}
    <div class="col-md-3 mb-3">
      <div class="card">
        <img src="{{ product.image.url }}" class="card-img-top" height="300" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}
            <span class="badge rounded-pill text-bg-secondary text-dark"  style="float:right">{{product.user.username}}</span>
          </h5>
          <a href="{% url 'products:detail_product' product.pk %}" class="btn btn-primary float-end btn-sm"  style="float:right">View Details</a>
          <p class="card-text">Price: ${{ product.price }}</p>
          <p class="card-text">Uploaded At <small class="text-body-secondary"> {{product.created_at}}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </marquee>

  {% endif %}
{% endblock content %}