{% extends "base.html" %}


{% load static %}
      {% block custom_css %}
          <link
      rel="stylesheet"
      href="{% static 'css/login.css' %}"
      type="text/css"
    />
  {% endblock custom_css %}
            {% block content %}
    <div class="login-container">
      <div
        class="logo-container text-center d-flex align-items-center flex-column justify-content-center"
      >
        <div class="logo">
          <span class="campus">CAMPUS</span>
          <span class="cart">CART</span>
        </div>
      </div>
      <div class="login-container-box">
        <div class="w-100">
          <h2 class="text-center">Log Into Campus Cart</h2>
          <form method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
              <label for="username" class="custom-label">Username</label>
              <input
                type="text"
                name="username"
                class="custom-input form-control"
                id="username"
                placeholder="Enter username"
              />
            </div>
            <div class="form-group mb-2">
              <label for="password" class="custom-label">Password</label>
              <input
                type="password"
                name="password"
                class="custom-input form-control"
                id="password"
                placeholder="Enter password"
              />
            </div>
            <a class="d-block text-end forgot-password">Forgot Password</a>
            <input type="submit" class="login-submit" />
          </form>
          <div class="or-tag"><span class="or-tag-span">or</span></div>
          <a class="go-to-register" href="{% url 'accounts:register' %}"
            >Create new account</a
          >
        </div>
        {% if messages %} {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </div>
        {% endfor %} {% endif %}
      </div>

    </div>
       {% endblock content %}
  {% block js_scripts %}

  <script>
    const toast_success = document.querySelector(".success-toast");
    const toast_error = document.querySelector(".error");
    if (toast_success) {
      setTimeout(() => {
        toast_success.style.display = "none";
      }, 2500);
    }
    if (toast_error) {
      setTimeout(() => {
        toast_error.style.display = "none";
      }, 2500);
    }
  </script>
  {% endblock js_scripts %}
