{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2>
		   {% for field in form %}
                  <div class="col-sm-6">
                     {{ field|as_crispy_field }}
                  </div>
                  {% endfor %}
		<div class="form-buttons">
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{%url 'accounts:login' %}"  class="btn btn-outline">Cancel</a>
		</div>
	</form>
	</div>
{%endblock content%}