{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="container position-relative">
  <a class="position-absolute upload-btn" href='{% url "accounts:profile-view" request.user %}'>View your profile</a>
  <div class="row pt-5">
    <div class="col-7 pt-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Update Profile</h4>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" id="user_profile_form">
            {% csrf_token %}
            <div class="row g-3">
              {% for field in user_form %}
              <div class="col-sm-6">
                {{ field|as_crispy_field }}
              </div>
              {% endfor %}
              {% for field in profile_form %}
              <div class="col-9">
                {{ field|as_crispy_field }}
              </div>
              {% endfor %}
            </div>
            <button style="border-radius:2rem;" class="btn btn-success d-block mt-4" type="submit" name="action"> Update
              Profile</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col pt-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Preview Profile</h4>
        </div>
        <div class="card-body">
          <img id="prev_profie_img" src="{{user.profile.profile_image.url}}" class="circle" alt="Profile Image">
          <hr />
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span id="prev_first_name">[First Name]</span> <span id="prev_last_name">[Last Name]</span>
            (<span id="prev_username">[username]</span>)
          </h6>
          <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
            </svg> <span id="prev_address"></span>
          </p>
          <div id="profile-map" class="mb-4"></div>
        </div>
      </div>
    </div>


  </div>
</div>

<script>
  //track th changes in form and update the preview
  let form = document.getElementById('user_profile_form');
  let prev_first_name = document.getElementById('prev_first_name');
  let prev_last_name = document.getElementById('prev_last_name');
  let prev_username = document.getElementById('prev_username');
  let prev_address = document.getElementById('prev_address');
  let prev_profie_img = document.getElementById('prev_profie_img');


  const map = L.map('profile-map').setView([42.3043181, -83.0686139], 14);
  let marker;
  const isRetina = L.Browser.retina;
  const myAPIKey = 'c20c43b8dddc42939c4304857ea1ce69';
  const baseUrl = "https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}.png?apiKey={apiKey}";
  const retinaUrl = "https://maps.geoapify.com/v1/tile/osm-bright/{z}/{x}/{y}@2x.png?apiKey={apiKey}";
  map.attributionControl.setPrefix('Powered by <a href="https://www.geoapify.com/" target="_blank">Geoapify</a>')
  L.tileLayer(isRetina ? retinaUrl : baseUrl, {
    attribution: '<a href="https://openmaptiles.org/" target="_blank">©️ OpenMapTiles</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">©️ OpenStreetMap</a> contributors',
    apiKey: myAPIKey,
    maxZoom: 20,
    id: 'osm-bright',
  }).addTo(map);

  // move zoom controls to bottom right
  map.zoomControl.remove();
  L.control.zoom({
    position: 'bottomright'
  }).addTo(map);


  geocodeAddress()


  function geocodeAddress() {
    let address = document.getElementById("id_address").value;
    if (address) {
      // address = `${address}, Windsor, Canada`
      const geocodingUrl = `https://api.geoapify.com/v1/geocode/search?text=${encodeURIComponent(address)}&apiKey=${myAPIKey}`;

      fetch(geocodingUrl).then(result => result.json())
        .then(featureCollection => {
          const foundAddress = featureCollection?.features[0];
          if (foundAddress) {
            if (marker) {
              map.removeLayer(marker)
            }
            marker = L.marker(new L.LatLng(foundAddress.properties.lat, foundAddress.properties.lon)).addTo(map);
            map.panTo(new L.LatLng(foundAddress.properties.lat, foundAddress.properties.lon));
          }
        });
    }
  }


  function updatePreview() {
    if (form.first_name.value !== '') {
      prev_first_name.innerHTML = form.first_name.value;
    }
    if (form.last_name.value !== '') {
      prev_last_name.innerHTML = form.last_name.value;
    }
    if (form.username.value !== '') {
      prev_username.innerHTML = form.username.value;
    }
    if (form.address.value !== '') {
      prev_address.innerHTML = form.address.value;
      geocodeAddress()
    }
  }
  updatePreview();
  form.addEventListener('input', function (e) {
    updatePreview();
    if (e.target.name == 'profile_image')
      prev_profie_img.src = URL.createObjectURL(form.profile_image.files[0]);
  });
</script>


{% endblock content %}