{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/notifications.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="pt-4 pl-4">
          {% if current_user == request.user %}
          <h1>My Profile</h1>
          {% else %}
          <h1>{{ current_user.get_full_name }}'s Profile</h1>
          {% endif %}
          <div class="header-underline"></div>
        </div>
        <div class="card-body">
          {% if user.profile.profile_image %}
          <img id="prev_profie_img" src="{{user.profile.profile_image.url}}" class="circle" alt="Profile Image">
          {% else %}
          <img id="prev_profie_img" src="{% static 'images/default.png' %}" class="circle" alt="Profile Image">
          {% endif %}
          <p class="card-text mt-4 profile-detail">
            <span class="material-symbols-outlined">
              home
            </span>
            <span>Address</span>
            {% if user.profile.address %}
            <span><b>{{user.profile.address}}</b></span>
            <a href="https://www.google.com/maps/dir/?api=1&destination={{ user.profile.address|urlencode }}"
              target="_blank" class="badge text-bg-light" style="color: blue;">Get Directions on Google Maps</a>
            {% else %}
            <span><b>Address Not Provided</span></b>
            {% endif %}
          </p>
          <p>
            <span class="material-symbols-outlined">
              call
            </span>
            <span>Mobile</span>
            <span><b>{{user.profile.phone_number}}</b></span>
          </p>
          <p class="profile-detail">
            <span class="material-symbols-outlined">
              mail
            </span>
            <span>Email</span>
            <span><b>{{user.email}}</b></span>
          </p>
          <p class="profile-detail">
            <span class="material-symbols-outlined">
              school
            </span>
            <span>Course</span>
            <span><b>{{user.profile.course}}</b></span>
          </p>
          <div class="profile-about d-flex flex-column p-4 mb-4">
            {% if current_user == request.user %}
            <span>About Me</span>
            {% else %}
            <span>About {{ user.get_full_name }}</span>
            {% endif %}
            <p class="mb-0">{{user.profile.bio}}</p>
          </div>
          <div class="mt-4">
            <hr>
            {% if comments %}
            <h3>Feedback</h3>
            {% for comment in comments %}
            <div class="notification-box d-flex align-items-center">
              <div class="notification-user-pic-container">
                <img src="{{ comment.commented_by.profile.profile_image.url }}" class="profile-pic" alt="Profile Pic" />
              </div>
              <div class="notification-description">
                <div>
                  <b>{{ comment.comment }}</b>
                </div>
                <p>Commented By : {{ comment.commented_by.get_full_name }}</p>
                <div>{{ comment.commented_date }}</div>
              </div>
            </div>
            {% endfor %}
            {% elif current_user == request.user %}
            <h2 class="text-center mt-4">You don't have any Feedback</h2>
            {% else %}
            <h2 class="text-center mt-4">No Feedback for the current user</h2>
            {% endif %}
            {% if current_user != request.user %}
            <h5 class="mt-4">Add your comment</h5>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row g-3">
                {% for field in comment_form %}
                <div class="col-sm-6">
                  {{ field|as_crispy_field }}
                </div>
                {% endfor %}
              </div>
              <input style="border-radius:2rem;" class="btn btn-success d-block mt-4" type="submit" name="comment" />
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if current_user != request.user %}
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">
            Report User
          </h4>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row g-3">
              {% for field in report_form %}
              <div class="col-sm-6">
                {{ field|as_crispy_field }}
              </div>
              {% endfor %}
            </div>
            <input style="border-radius:2rem;" class="btn btn-danger d-block mt-4" type="submit" name="report" />
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}