{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
      {% block custom_css %}
          <link
      rel="stylesheet"
      href="{% static 'css/login.css' %}"
      type="text/css"
    />
  {% endblock custom_css %}

{% block content %}
      <div class="login-container">
         <div class="logo-container text-center d-flex align-items-center flex-column justify-content-center">
            <div class="logo">
               <span class="campus">CAMPUS</span>
               <span class="cart">CART</span>
            </div>
         </div>
         <div class="login-container-box">
            <div class="w-100">
               <h2 class="text-center">Create a New Account</h2>
               <form method="post" enctype="multipart/form-data">
                  {% csrf_token %} 
                  <div class="row g-3">
                        {% for field in form %}
                        <div class="col-sm-6">
                           {{ field|as_crispy_field }}
                        </div>
                        {% endfor %}
                     </div>
                   <a class="d-block text-end forgot-password" href="{% url 'request-new-link-from-email' %}">Forgot Password</a>
                   <input type="submit" class="login-submit" />
               </form>
               <div class="or-tag"><span class="or-tag-span">or</span></div>
               <a class="go-to-register" href="{% url 'accounts:login' %}">Log In</a>
            </div>
         </div>
      </div>
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
      {% endfor %}
      {% endif %}
   {% endblock content %}

     {% block js_scripts %}
   <script>
      const toast_success = document.querySelector('.success-toast');
      const toast_error = document.querySelector('.error')
      if (toast_success) {
        setTimeout(() => {
          toast_success.style.display = 'none'
        }, 2500)
      }
      if (toast_error) {
        setTimeout(() => {
          toast_error.style.display = 'none'
        }, 2500)
      }
   </script>
     {% endblock js_scripts %}