{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
{% if theme == 'primary' %}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
{% else %}
<link rel="stylesheet" href="{% static 'css/books-custom.css' %}" type="text/css" />
{% endif %}
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/product.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/rental.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="container position-relative">
    <a class="position-absolute upload-book" href='{% url "accounts:user-rating" user %}'>My Feedback</a>
    <div class="books-header pt-4">
        <h1>My Listings</h1>
        <div class="books-header-underline"></div>
    </div>
    <div class="mt-4">
        <div class="d-flex flex-wrap aui-accordion-tab2 justify-content-between" id="tabsTemplate1" role="tablist">
            <button class="aui-acc-tab-item aui-accordion-tab1 btn btn-text" data-toggle="collapse"
                data-target="#tabsTemplate11" aria-expanded="true" role="tab">
                Products
                <i class="aha-icon-arrow-down mx-2 d-inline-block d-md-none"></i>
            </button>
            <button class="aui-acc-tab-item aui-accordion-tab2 btn btn-text" data-toggle="collapse"
                data-target="#tabsTemplate12" aria-expanded="false" role="tab">
                Books
                <i class="aha-icon-arrow-down mx-2 d-inline-block d-md-none"></i>
            </button>
            <button class="aui-acc-tab-item aui-accordion-tab1 btn btn-text" data-toggle="collapse"
                data-target="#tabsTemplate13" aria-expanded="false" role="tab">
                Free Stuff
                <i class="aha-icon-arrow-down mx-2 d-inline-block d-md-none"></i>
            </button>
            <button class="aui-acc-tab-item aui-accordion-tab2 btn btn-text" data-toggle="collapse"
                data-target="#tabsTemplate14" aria-expanded="false" role="tab">
                Rental
                <i class="aha-icon-arrow-down mx-2 d-inline-block d-md-none"></i>
            </button>
            <button class="aui-acc-tab-item aui-accordion-tab1 btn btn-text" data-toggle="collapse"
                data-target="#tabsTemplate15" aria-expanded="false" role="tab">
                Events
                <i class="aha-icon-arrow-down mx-2 d-inline-block d-md-none"></i>
            </button>
            <button class="aui-acc-tab-item aui-accordion-tab2 btn btn-text" data-toggle="collapse"
                data-target="#tabsTemplate16" aria-expanded="false" role="tab">
                Lost & Found
                <i class="aha-icon-arrow-down mx-2 d-inline-block d-md-none"></i>
            </button>
            <div id="tabsTemplate11"
                class="collapse show row w-100 no-gutters aui-accordion-content aui-accordion-content1 pt-4"
                data-parent="#tabsTemplate1" role="tabpanel">
                <div class="custom-container">
                    <div class="card__container">
                        {% if user_products %}
                        {% for product in user_products %}
                        <a class="property-container d-flex row" href="{% url 'products:edit-product' product.id %}">
                            <div class="property-image">
                                <img src="{{ product.image.url }}" alt="Property Image" />
                            </div>
                            <div class="property-details flex-column">
                                <span class="badge badge-pill badge-info property-price">
                                    ${{ product.price }}</span>
                                <h3 class="property-title">{{ product.title }}</h3>
                                <div class="d-flex align-items-center">
                                    Category : <b class="ml-2">{{ product.category }}</b>
                                </div>
                                <div><span>{{ rental.created_at }}</span></div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <h3>No Items Available</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="tabsTemplate12"
                class="collapse row w-100 no-gutters aui-accordion-content aui-accordion-content2 pt-4"
                data-parent="#tabsTemplate1" role="tabpanel">
                <div class="custom-container">
                    <div class="card__container">
                        {% if user_books %}
                        {% for book in user_books %}
                        <a class="property-container d-flex row" href="{% url 'books:edit-book' book.id %}">
                            <div class="property-image">
                                <img src="{{ book.book_cover.url }}" alt="Property Image" />
                            </div>
                            <div class="property-details flex-column">
                                <span class="badge badge-pill badge-info property-price">
                                    ${{ book.price }}</span>
                                <h3 class="property-title">{{ book.title }}</h3>
                                <div>Pages : <span>{{ book.pages }}</span></span></div>
                                <div class="d-flex align-items-center">
                                    Category : <b class="ml-2">{{ book.category }}</b>
                                </div>
                                <div><span>{{ book.created_at }}</span></span></div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <h3>No Items Available</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="tabsTemplate13"
                class="collapse row w-100 no-gutters aui-accordion-content aui-accordion-content1 pt-4"
                data-parent="#tabsTemplate1" role="tabpanel">
                <div class="custom-container">
                    <div class="card__container">
                        {% if user_free_items %}
                        {% for free in user_free_items %}
                        <a class="property-container d-flex row" href="{% url 'freestuff:edit-item' free.id %}">
                            <div class="property-image">
                                <img src="{{ free.item_image.url }}" alt="Property Image" />
                            </div>
                            <div class="property-details flex-column">
                                <h3 class="property-title">{{ free.title }}</h3>
                                <div class="d-flex align-items-center">
                                    Condition : <b class="ml-2">{{ free.condition }}</b>
                                </div>
                                <div class="d-flex align-items-center">
                                    Category : <b class="ml-2">{{ free.category }}</b>
                                </div>
                                <div><span>{{ free.created_at }}</span></span></div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <h3>No Items Available</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="tabsTemplate14"
                class="collapse row w-100 no-gutters aui-accordion-content aui-accordion-content2 pt-4"
                data-parent="#tabsTemplate1" role="tabpanel">
                <div class="custom-container">
                    <div class="card__container">
                        {% if user_rentals %}
                        {% for rental in user_rentals %}
                        <a class="property-container d-flex row" href="{% url 'rentals:edit-property' rental.id %}">
                            <div class="property-image">
                                <img src="{{ rental.property_image.url }}" alt="Property Image" />
                            </div>
                            <div class="property-details flex-column">
                                <span class="badge badge-pill badge-info property-price">
                                    ${{ rental.price }}/month</span>
                                <h3 class="property-title">{{ rental.property_name }}</h3>
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined mr-1">
                                        pin_drop
                                    </span>
                                    {{ rental.address }}
                                </div>
                                <div><span>{{ rental.created_at }}</span> | <span>{{ rental.city }}</span></div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <h3>No Items Available</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="tabsTemplate15"
                class="collapse row w-100 no-gutters aui-accordion-content aui-accordion-content1 pt-4"
                data-parent="#tabsTemplate1" role="tabpanel">
                <div class="custom-container">
                    <div class="card__container">
                        {% if user_events %}
                        {% for event in user_events %}
                        <a class="property-container d-flex row">
                            <div class="property-image">
                                <img src="{{ event.image.url }}" alt="Property Image" />
                            </div>
                            <div class="property-details flex-column">
                                <span class="badge badge-pill badge-info property-price">
                                    ${{ event.price }}</span>
                                <h3 class="property-title">{{ event.title }}</h3>
                                <div class="d-flex align-items-center">
                                    Location : <b class="ml-2">{{ event.location }}</b>
                                </div>
                                <div class="d-flex align-items-center">
                                    Category : <b class="ml-2">{{ event.category }}</b>
                                </div>
                                <div class="d-flex align-items-center">
                                    Total Seats : <b class="ml-2">{{ event.total_seats }}</b>
                                </div>
                                <div><span>{{ event.date_and_time }}</span></span></div>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <h3>No Items Available</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="tabsTemplate16"
                class="collapse row w-100 no-gutters aui-accordion-content aui-accordion-content2 pt-4"
                data-parent="#tabsTemplate1" role="tabpanel">
                <div class="custom-container">
                    <div class="card__container">
                        Lost and Found
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}