{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="books-header pt-4">
        <h1>My Listings</h2>
            <div class="books-header-underline"></div>
    </div>
    <div class="mt-4">
        <div class="custom-container">
            {% if user_books or user_free_items %}
            <div class="card__container">
                {% for book in user_books %}
                <a href="{% url 'books:edit-book' book.id %}" class="book-card">
                    <div class="book-card__cover">
                        <div class="book-card__book">
                            <div class="book-card__book-front">
                                <img class="book-card__img" src="{{ book.book_cover.url }}" alt="Book Cover" />
                            </div>
                            <div class="book-card__book-back"></div>
                            <div class="book-card__book-side"></div>
                        </div>
                    </div>
                    <div>
                        <div class="book-card__title">
                            {{ book.title }}
                        </div>
                        <div class="book-card__author">
                            By {{ book.author }}
                        </div>
                        <div class="book-card__author">
                            ${{ book.price }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% for item in user_free_items %}
                <article class="card__article">
                    <img src="{{ item.item_image.url }}" alt="image" class="card__img">

                    <div class="card__data">
                        <span class="card__description">Vancouver Mountains, Canada</span>
                        <h2 class="card__title">{{ item.title }}</h2>
                        <a href="#" class="card__button">Read More</a>
                    </div>
                </article>
                {% endfor %}
            </div>
            {% else %}
            <h3>No Listings Available</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}