{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{{ block.super }}
{% if theme == 'primary' %}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
{% else %}
<link rel="stylesheet" href="{% static 'css/books-custom.css' %}" type="text/css" />
{% endif %}
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
{% endblock %}
{% block content %}

<div class="container position-relative">
    <a class="position-absolute upload-btn" href='{% url "books:upload-book" %}'>Upload your Book</a>
    <div class="pt-4">
        <h1>Books</h1>
        <div class="header-underline"></div>
    </div>
    <div class="mt-4 mb-3">
        <div>
            <form class="d-flex">
                <div class="input-group align-items-end justify-content-start">
                    {{ form|crispy }}
                    <button class="btn" type="submit">Search</button>
                    <a href="{% url 'books:home' %}" class="text-link float-end">Reset</a>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-4">
        <div class="custom-container">
            <div class="card__container">
                {% for book in page_obj %}
                <a href="{% url 'books:book-detail' book.id %}" class="book-card">
                    <div class="book-card__cover">
                        <div class="book-card__book">
                            <div class="book-card__book-front">
                                <img class="book-card__img" src="{{ book.book_cover.url }}" alt="Book Cover" />
                            </div>
                            <div class="book-card__book-back"></div>
                            <div class="book-card__book-side"></div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="book-card__title my-2">
                            {{ book.title }}
                        </div>
                        <div class="book-card__author">
                            <b>{{ book.category }}</b>
                        </div>
                        <div class="book-card__author">
                            By {{ book.author }}
                        </div>
                        <div class="book-card__author">
                            ${{ book.price }}
                        </div>
                        <div class="book-card__author">
                            {{ book.condition }}
                        </div>
                        {% if book.is_sold %}
                        <div class="position-absolute right-0 bottom-0">
                            <span class="badge badge-pill badge-danger">Sold</span>
                        </div>
                        {% else %}
                        <div class="book-card__author d-flex align-items-center justify-content-end">
                            <span class="material-symbols-outlined">
                                visibility
                            </span>
                            <span class="ml-2">{{ book.count_views }}</span>
                        </div>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="d-flex align-items-center justify-content-center mt-5">
                <div class="pagination align-items-center justify-content-center">
                    {% if page_obj.has_previous %}
                    <span class="page-item">
                        <a href="?page=1" class="page-link p-2">&laquo; First</a>
                    </span>
                    <span class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link p-2">Previous</a>
                    </span>
                    {% endif %}
                    <span class="aui-tag-list">
                        <span class="aui-tag-item mx-2">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </span>
                    {% if page_obj.has_next %}
                    <span class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link p-2">Next</a>
                    </span>
                    <span class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link p-2">Last &raquo;</a>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}