{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
{% if theme == 'primary' %}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
{% else %}
<link rel="stylesheet" href="{% static 'css/books-custom.css' %}" type="text/css" />
{% endif %}
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
{% endblock %}
{% block content %}

<div class="container position-relative">
    <a class="position-absolute upload-book" href='{% url "books:upload-book" %}'>Upload your Book</a>
    <div class="books-header pt-4">
        <h1>Books</h1>
            <div class="books-header-underline"></div>
    </div>
    <div class="mt-4">
        <div class="custom-container">
            <div class="card__container">
                {% for book in all_books %}
                <a href="{% url 'books:book-detail' book.id %}" class="book-card">
                    <div class="book-card__cover">
                        <div class="book-card__book">
                            <div class="book-card__book-front">
                                <img class="book-card__img" src="{{ book.book_cover.url }}" alt="Book Cover" />
                            </div>
                            <div class="book-card__book-back"></div>
                            <div class="book-card__book-side"></div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="book-card__title my-2">
                            {{ book.title }}
                        </div>
                        <div class="book-card__author">
                            By {{ book.author }}
                        </div>
                        <div class="book-card__author">
                            ${{ book.price }}
                        </div>
                        <div class="position-absolute right-0 bottom-0">
                            {% if book.is_sold %}
                            <span class="badge badge-pill badge-danger">Sold</span>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}