{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/product.css' %}" type="text/css" />
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container position-relative">
  <a class="position-absolute upload-btn" href='{% url "products:sell" %}'>Upload your Product</a>
  <div class="books-header pt-4">
    <h1>All Products</h2>
      <div class="books-header-underline"></div>
  </div>
  <div class="mt-4">
    <div>
      <form class="d-flex">
        <div class="input-group align-items-end">
          {{ form|crispy }}
          <button class="btn" type="submit">Search</button>
          <a href="{% url 'products:home' %}" class="text-link float-end">Reset</a>
      </form>
    </div>
  </div>

  {% if form.search.value %}
  Searched for: <b>{{ form.search.value }} </b> with Category: {{ form.category.category }}
  <hr />
  {% endif %}
  <div class="custom-container">
    <div class="card__container">
      {% if products %}
      {% for product in products %}
      <div class="my-3">
        <div class="card-hover">
          <div class="card-hover__content">
            <h3 class="card-hover__title">
              {{ product.title }}
            </h3>
            <h6>{{ product.price }}</h6>
            <p class="card-hover__text">{{ product.description }}</p>
            <div>
              {% if product.is_sold %}
              <span class="badge badge-pill badge-danger">Sold</span>
              {% endif %}
            </div>
            <a href="{% url 'products:detail_product' product.pk %}" class="card-hover__link">
              <span>View Details</span>
              <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg>
            </a>
          </div>
          <div class="card-hover__extra">
            <h4>{{product.category }}</h4>
          </div>
          <img src="{{ product.image.url }}" alt="{{ product.title }}" />
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-info mt-3" role="alert">
        No products available.
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock content %}