{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>All Products</h1>
    {% if products %}
    <div class="row mt-3">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" height="300" alt="{{ product.title }}">
                <div class="card-body">
                    <a href="#" class="btn btn-primary float-end">Buy</a>
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">Price: ${{ product.price }}</p>

                    <p class="card-text">Uploaded At <small class="text-body-secondary"> {{ product.user.username
                            }}</small></p>
                    <p class="card-text">Uploaded At <small class="text-body-secondary"> {{ product.created_at
                            }}</small></p>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info mt-3" role="alert">
        No products available.
    </div>
    {% endif %}
</div>
{% endblock content %}