{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h1>Product Detail</h1>
<hr>
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}
            <span class="badge rounded-pill text-bg-secondary text-dark"  style="float:right">By {{product.user.username}}</span>
          </h5>
          {% if is_interested %}
          <button class="btn btn-default float-end"  style="float:right" disabled>Interested</button>
          {% else %}
          <a href="{% url 'products:interested_product' product.id %}" class="btn btn-success float-end"  style="float:right">Interested  ?</a>
          {% endif %}
          <p class="card-text">Price: ${{ product.price }}</p>
          <p class="card-text">Uploaded At <small class="text-body-secondary"> {{product.created_at}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}