{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/product.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="container">
  <div class="pt-4">
    <h1>
      Product Details</h1>
    <div class="header-underline"></div>
  </div>
  <div class="card mb-3 mt-4">
    <div class="d-flex card-inner">
      <div class="col-md-4 p-0">
        <img src="{{ product.image.url }}" class="rounded-start w-100 h-100" alt="{{ product.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-detail-body h-100 position-relative p-3">
          <h5 class="card-title">{{ product.title }}
          </h5>
          <button class="btn btn-warning float-end" style="float:right" type="button" data-toggle="modal"
            data-target="#similarproducts">See Other Products in Similar Price Range</button>
          <br>
          <br>
          {% if is_interested %}
          <a href="{% url 'products:interested_product' product.id %}"
            class="btn btn-danger float-end d-flex align-items-center justify-content-center" style="float:right">Not
            Interested <span class="material-symbols-outlined ml-1">
              bookmark_remove
            </span></a>
          {% else %}
          <a href="{% url 'products:interested_product' product.id %}"
            class="btn btn-success float-end d-flex align-items-center justify-content-center"
            style="float:right">Interested <span class="material-symbols-outlined ml-1">
              bookmark
            </span></a>
          {% endif %}
          <p class="card-text">Price: ${{ product.price }}</p>
          <div>
            {% if product.is_sold %}
            <span class="badge badge-pill badge-danger">Sold</span>
            {% endif %}
          </div>
          <div class="aha-card-tags">
            <span class="tag font-italic">{{ product.category }}</span>
          </div>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text pb-2">Uploaded At : {{product.created_at}}
          <div class="position-absolute seller-information w-100 pr-4">
            <p>Seller Information</p>
            <div class="d-flex align-items-center justify-content-between">
              <a class="contact-seller"
                href="MSTeams:/l/chat/0/0?users={{ product.user.email }}&message=Is it available">Contact
                Seller</a>
              <div>
                <a href="{% url 'accounts:profile-view' product.user.username %}">
                  <b>{{ product.user.get_full_name }}</b></a>
              </div>
            </div>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="similarproducts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Other Products in Similar Price Range</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-wrap row justify-content-center">
          {% for product in same_price_products %}
          <div class="col-md-3">
            <div class="card mb-4">
              <img src="{{ product.image.url }}" class="img-fluid rounded-start w-100" alt="{{ product.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">Price: ${{ product.price }}</p>
                <a href="{% url 'products:detail_product' product.id %}" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if similar_products %}
<div class="container mt-5">
  <div class="books-header mb-4">
    <h3>Similar Products</h3>
    <div class="books-header-underline"></div>
  </div>
  <div class="row mt-2">
    {% for product in similar_products %}
    <div class="my-3 mx-3">
      <div class="card-hover">
        <div class="card-hover__content">
          <h3 class="card-hover__title">
            {{ product.title }}
          </h3>
          <h6>{{ product.price }}</h6>
          <p class="card-hover__text">{{ product.description }}</p>
          <div>
            {% if product.is_sold %}
            <span class="badge badge-pill badge-danger">Sold</span>
            {% endif %}
          </div>
          <a href="{% url 'products:detail_product' product.pk %}" class="card-hover__link">
            <span>View Details</span>
            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
          </a>
        </div>
        <div class="card-hover__extra">
          <h4>{{product.category }}</h4>
        </div>
        <img src="{{ product.image.url }}" alt="{{ product.title }}" />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock content %}