.books-header-underline {
    border-style: solid;
    border-color: #ffce00;
    border-width: 2px;
    border-bottom: none;
    width: 70px;
    animation-fill-mode: both;
    animation-name: slidein;
    opacity: 0;
    animation-delay: .2s;
    animation-duration: 1s;
}

.books-author-underline {
    border-style: solid;
    border-color: #005595;
    border-width: 2px;
    border-bottom: none;
    width: 100px;
    animation-fill-mode: both;
    animation-name: slidein;
    opacity: 0;
    animation-delay: .2s;
    animation-duration: 1s;
}

@keyframes slidein {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}


.books-content-collection {
    row-gap: 40px;
}

@media only screen and (max-width: 768px) {
    .books-content-collection {
        justify-content: center !important;
    }
}

aside {
    flex-basis: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 1.5;
}

aside .title,
aside .subtitle,
aside .description {
    font-family: Georgia, Serif;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

aside .title {
    font-weight: bold;
    font-size: 2em;
}

aside .subtitle {
    font-size: 1.5em;
}

aside .description {
    margin-top: 24px;
    font-size: 1.2em;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card {
    width: 300px;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px #005595, 0 3px 6px #005595
}

.book-card:hover {
    box-shadow: 0 3px 6px #FFCE00, 0 3px 6px #FFCE00
}

.book-card .book-card__cover {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card__book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card__book-front {
    position: absolute;
    height: 100%;
}

.book-card .book-card__book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card__book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card__img {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card__title {
    font-size: 1.5em;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 70px;
}

.book-card .book-card__author {
    color: #757575;
    font-size: 1em;
}

.book-card:hover .book-card__book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card:hover .book-card__book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card:hover .book-card__book-side {
    opacity: 1;
}


.upload-book {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    right: 0;
    background-color: #005596;
    color: #fff;
}

.upload-book:hover {
    color: #fff;
    transform: scale(1.1);
}

@media only screen and (max-width: 992px) {
    .book-detail-section {
        row-gap: 25px;
    }

    .book-image>img {
        max-height: 650px;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .book-image {
        width: 50%;
    }

    .one-half {
        width: calc(50% - 20px);
    }
}

.book-title {
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125;
    max-width: 500px;
}

.book-description {
    margin-top: 10px;
    font-weight: 500;
    min-height: 200px;
}