@media (max-width: 768px) {
  .home-image-container {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .home-image-box>.home-image-type {
    font-size: 35px;
  }

  .seller-information {
    position: static !important;
  }
}

@media (min-width: 992px) {
  .home-image-box>.home-image-type {
    font-size: 50px;
  }

}

.home-container {
  margin-top: -1em;
}

.home-image-box {
  flex: 1;
  cursor: pointer;
}

.home-image-box>img {
  opacity: 0.5;
  transition: all .2s ease-in-out;
}

.home-image-box>img:hover {
  transform: scale(1.1);
}

.home-image-box>.home-image-type {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width: max-content;
}

.success-toast,
.error-toast {
  min-width: 250px;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  font-size: 17px;
  animation: slideDown 3s, fadeOut 8.5s;
  opacity: 1;
  transform: translateX(-50%);
  top: -100px;
}

.activate-toast {
  background-color: #14a44d;
  color: #fff;
  min-width: 250px;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  font-size: 17px;
  animation: slideDown 3s, fadeOut 30.5s;
  opacity: 1;
  transform: translateX(-50%);
  top: -100px;
}

.success-toast {
  background-color: #14a44d;
  color: #fff;
}

.error-toast {
  background-color: white;
  color: #C10E21;
}

@keyframes slideDown {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 10%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    top: 10%;
    opacity: 1;
  }

  to {
    opacity: 0;
    top: 0;
  }
}

.contact-seller {
  background: #00a7e1;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #00a7e1;
  cursor: pointer;
}

.contact-seller:hover {
  color: unset;
}


.icon-button {
  width: 50px;
  height: 50px;
  color: #333333;
  background: #E5E5E5;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button::before {
  display: none !important;
}

.icon-button:hover {
  cursor: pointer;
  color: #333333;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: #e41e3f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 400;
}

.notification-icon {
  right: 70px;
  top: 4px;
  background-color: white;
  border-radius: 50%;
}


@media screen and (max-width: 992px) {
  .notification-icon {
    right: 55px;
  }

  .icon-button {
    width: 40px !important;
    height: 40px !important;
  }

  .icon-button__badge {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 577px) {
  .icon-button {
    width: 35px !important;
    height: 35px !important;
  }
}

#prev_profie_img {
  width: 200px;
  height: 200px;
}


#profile-map {
  height: 400px;
  z-index: 0;
}