.home {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 25px 50px;
    background-color: black;
    margin-top: -3rem;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .home {
        flex-direction: column;
    }
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.55;
}

.home .content {
    max-width: 600px;
    color: #fff;
    position: relative;
}

.content h2 {
    font-size: 2.5em;
}

.content p {
    margin-inline: 10px;
}

.content a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
}

.home .wrapper-login {
    position: relative;
}

.wrapper-login h2 {
    font-size: 1.8em;
    color: #fff;
    text-align: center;
}

.input-box label {
    position: absolute;
    font-size: 1em;
    color: #fff;
    top: 35%;
    left: 45px;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -18px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}

.wrapper-login .button {
    width: 50% !important;
    height: 50px;
    margin: 0 auto;
    display: block;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #005595, #005595);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.wrapper-login .button:hover {
    color: #FFCE00;
}



.time-label {
    margin-top: 5px;
}


.launch-time {
    color: white;
    font-size: 24px;
    font-weight: 900;
}