.home-image {
    border-radius: 6px;
    width: 100%;
}

.home-container {
    gap: 20px;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.services-container-box {
    background: #fff;
    padding: 25px;
    flex-grow: 1;
    flex-basis: 450px;
    border-radius: 12px;
}

.underline {
    border-style: solid;
    border-color: #ffce00;
    border-width: 3px;
    border-bottom: none;
    width: 150px;
    animation-fill-mode: both;
    animation-name: slidein;
    opacity: 0;
    animation-delay: .2s;
    animation-duration: 1s;
}