.home-image {
    border-radius: 6px;
    width: 100%;
}

.home-container {
    gap: 20px;
    display: grid;
    grid-template-areas: "stack";
    position: relative;
    z-index: 0;
    border-radius: 6px;
    background-color: #00011e;
}

.main-content {
    position: relative;
    background: #F4F8FD;
}

.home-container>* {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed)* 150px));
    }
}

.home-container>h1 {
    position: absolute;
    font-family: Rubik;
    font-size: 85px;
    font-weight: 850;
    line-height: 100%;
    text-transform: uppercase;
    width: 45%;
    top: 50px;
    left: 20px;
    --parallax-speed: 5;
    color: #FFCE00;
    text-shadow: 7px 7px 1px #005595,
        15px 15px 1px #a37c13;
}

@media screen and (max-width: 992px) {
    .home-container>h1 {
        font-size: 60px;
        top: 40px;
        text-shadow: 5px 5px 1px #005595,
            11px 11px 1px #a37c13;
    }
}

@media screen and (max-width: 768px) {
    .home-container>h1 {
        font-size: 40px;
        top: 30px;
        text-shadow: 3px 3px 1px #005595,
            7px 7px 1px #a37c13;
    }
}

@media screen and (max-width: 600px) {
    .home-container>h1 {
        font-size: 24px;
        top: 15px;
        text-shadow: 1px 1px 1px #005595,
            4px 4px 1px #a37c13;
    }
}



.home-container>p,
.home-container>h1 {
    z-index: 1;
}

.home-container .home-image-border {
    position: absolute;
    bottom: 0;
    border-radius: 6px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.home-container img {
    --parallax-speed: -5;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #00011e;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.services-container p {
    animation: fade linear;
    animation-timeline: view();
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}


.services-container-box {
    background: #fff;
    padding: 25px;
    flex-grow: 1;
    flex-basis: 450px;
    border-radius: 12px;
}

.underline {
    border-style: solid;
    border-color: #ffce00;
    border-width: 3px;
    border-bottom: none;
    width: 150px;
    animation-fill-mode: both;
    animation-name: slidein;
    opacity: 0;
    animation-delay: .2s;
    animation-duration: 1s;
}

.avatars {
    --avatar-count: 7;
    --avatar-size: 130px;

    --column-size: calc(var(--avatar-size) / 2);

    display: grid;
    grid-template-columns: repeat(var(--avatar-count), var(--column-size));
    transition: 500ms;
    transition-delay: 500ms;
}

.avatars:hover {
    --column-size: calc(var(--avatar-size) * 1.5);
    transition-delay: 0ms;
}

.avatar {
    width: var(--avatar-size);
    border-radius: 100vw;
    border: 5px solid white;
    box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);
    object-fit: cover;
    aspect-ratio: 1;
    transition: scale 500ms;
}

.avatar:hover {
    scale: 2;
    z-index: 2;
    border-color: #005595;
}

@supports selector(:has(+ *)) {

    .avatar:hover+.avatar,
    .avatar:has(+ .avatar:hover) {
        scale: 1.5;
    }
}

.founders {
    font-family: Rubik;
}

.founders h2 {
    color: #180824;
    font-size: 48px;
}

.founders h6 {
    color: rgba(24, 8, 36, .6);
    font-size: 20px;
}


.aui-multiple-carousel .carousel-item::before,
.aui-multiple-carousel .carousel-item.active+.carousel-item::after {
    content: unset;
}

.card-img-top {
    min-height: 160px;
    max-height: 160px;
    object-fit: cover;
    aspect-ratio: 1;
}