.input-group {
    gap: 25px;
}

.input-group #div_id_search {
    flex-grow: 0.5;
}

.input-group #div_id_search input {
    border-radius: 6px;
}

.input-group .form-group {
    margin-bottom: 0;
}

.input-group .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    right: 0;
    background-color: #005596;
    color: #fff;
    height: max-content;
}

.input-group .btn:hover {
    color: #FFCE00;
}



.input-group a {
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 10px 20px;
    font-weight: 500;
    color: #f8f9fa !important;
    background-color: #C10E21;
    border-color: #C10E21;
    border-radius: 6px;
}


.card-detail span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (max-width: 772px) {
    .card-inner {
        flex-direction: column;
    }
}

.card-detail-body .seller-information {
    bottom: 15px;
    left: unset;
}

.card-detail-body {
    min-height: 500px;
}

.card-text {
    display: -webkit-box;
    max-height: 160px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-hover {
    width: 360px;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
}

.card-hover:has(.card-hover__link:hover) .card-hover__extra {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover:hover .card-hover__content {
    background-color: #B6D0E2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover .card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #B6D0E2;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content::before,
.card-hover__content::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.card-hover__title span,
.card-hover__title span:hover {
    color: #2d7f0b;
}

a:hover {
    color: unset;
}


.card-hover__text {
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-hover__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link:hover svg {
    transform: translateX(4px);
}

.card-hover__link svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #0075A2;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra span {
    color: #2d7f0b;
}

.card-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}