.input-group {
    gap: 25px;
}

.input-group #div_id_search {
    flex-grow: 0.5;
}

.input-group #div_id_search input {
    border-radius: 6px;
}

.input-group .form-group {
    margin-bottom: 0;
}

.input-group .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    right: 0;
    background-color: #005596;
    color: #fff;
    height: max-content;
}

.input-group .btn:hover {
    color: #FFCE00;
}

.input-group a {
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 10px 20px;
    font-weight: 500;
    color: #f8f9fa !important;
    background-color: #C10E21;
    border-color: #C10E21;
    border-radius: 6px;
}


.card-detail span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (max-width: 772px) {
    .card-inner {
        flex-direction: column;
    }
}

.card-detail-body .seller-information {
    bottom: 15px;
    left: unset;
}

.card-detail-body {
    min-height: 400px;
}

.card-text {
    display: -webkit-box;
    max-height: 160px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}