{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/lostfound.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />

{% endblock %}
{% block content %}

<div class="container position-relative">
    <a class="position-absolute upload-btn" style="text-align: center;" href='{% url "lostfound:upload" %}'>Post
        Something</a>
    <div class="pt">
        <h1>Lost and Found Items</h1>
        <div class="header-underline"></div>
    </div>
    <div class="mt-4 mb-3">
        <div>
            <form class="d-flex">
                <div class="input-group align-items-end justify-content-start">
                    {{ form|crispy }}
                    <button class="btn" type="submit">Search</button>
                    <a href="{% url 'lostfound:home' %}" class="text-link float-end">Reset</a>
                </div>
            </form>
        </div>
    </div>
    <div class="card-display justify-content-between">
        <div class="listing">
            {% for item in items %}
            <div class="card-details">
                <div class="card-header" style="margin-top: 2px;">
                    <div class="item-title">{{ item.title }}</div>
                    <div class="post-date">{{ item.post_date }}</div>
                    <div class="item-category">{{ item.category }}</div>

                </div>
            </div>
            <div class="card-desc">{{ item.product_description }}</div>
            <div class="card-main-body">
                <div class="card">
                    <img src="{{ item.image.url }}" alt="post image">
                    <div class="card-body">
                        <p class="cardd-sub-title d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <span>{{ item.location }}</span>
                        </p>
                        <a class="view-details-btn" href="{% url 'lostfound:detail' post_id=item.id %}">View
                            Details</a>
                    </div>
                </div>
                <div class="option-button">
                    <a class="contact-seller"
                        href="MSTeams:/l/chat/0/0?users={{ item.user.email }}&message=I would like to inquire regarding the item.">Message</a>
                    {% comment %} <button class="claim-btn">Message</button> {% endcomment %}
                    {% comment %} <button class="message-btn">Message</button> {% endcomment %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}