{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/lostfounddetail.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="card-wrapper">
  <div class="card">
    <!-- card left -->
    <div class="product-imgs">
      <div class="img-display">
        <div class="img-showcase">
          <img
            src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
            alt="shoe image">
          <img
            src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
            alt="shoe image">
          <img
            src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
            alt="shoe image">
          <img
            src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
            alt="shoe image">
        </div>
      </div>
      <div class="img-select">
        <div class="img-item">
          <a href="#" data-id="1">
            <img
              src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
              alt="shoe image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id="2">
            <img
              src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
              alt="shoe image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id="3">
            <img
              src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
              alt="shoe image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id="4">
            <img
              src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
              alt="shoe image">
          </a>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">Pair of Shoes</h2>
      <!-- <a href = "#" class = "product-link">visit nike store</a> -->
      <!-- <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>4.7(21)</span>
            </div> -->
      <!--       
            <div class = "product-price">
              <p class = "last-price">Old Price: <span>$257.00</span></p>
            </div> -->

      <label for="date">Date Posted:</label>

      <input type="date" id="start" name="trip-start" value="2018-07-22" />

      <div class="product-detail">
        <h2>About this item: </h2>
        <p>I found this pair of shoes in dnasjdn dasj dijas d dsja diasj d asijd asd asd</p>
        <p>P.S : I will need to see proof for this, if this cycle belongs to you</p>



        <ul>
          <li>Landmark where found/lost: <span>Toldo Health Center</span></li>
          <!-- <li>Available: <span>in stock</span></li>
                <li>Category: <span>Shoes</span></li>
                <li>Shipping Area: <span>All over the world</span></li>
                <li>Shipping Fee: <span>Free</span></li> -->
        </ul>
      </div>

      <div class="purchase-info">
        <!-- <input type = "number" min = "0" value = "1"> -->
        <button type="button" class="btn">
          Contact Owner <i class="fas fa-shopping-cart"></i>
        </button>
        <button type="button" class="btn">Save</button>
        <button type="button" class="btn">Report</button>
      </div>

      <div class="social-links">
        <p>Share this post: </p>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/lostfounddetail.js' %}"></script>
<!-- <h1>Hello, World!</h1>
    <p>This is a simple HTML file.</p> -->
{% endblock content %}