{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }}</title>
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <link rel="stylesheet" href="https://aui.heart.org/aha-ui/dev/1.0.3/dist/css/aha-dist.css" />
  <script src="https://aui.heart.org/aha-ui/dev/1.0.3/dist/js/aha-dist.js"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css" />
  {% block head %}{% endblock %}
</head>

<body>
  <div class="header-top w-100 position-relative"></div>
  <header class="aui-main-header aui-pri-header">
    <a href='{% url "products:home" %}' class="aui-skip-content">Skip to main
      content</a>
    <nav
      class="py-2 m-0 w-100 position-relative navbar-expand-lg justify-content-between aui-header-content aui-pri-header-t">
      <div
        class="position-absolute logo-container text-center d-flex align-items-center flex-column justify-content-center">
        <a href='{% url "products:home" %}'>
          <div class="logo">
            <span class="campus">CAMPUS</span>
            <span class="cart">CART</span>
          </div>
        </a>
      </div>
      <button class="navbar-toggler ml-2 px-0 hamburger" type="button" data-toggle="collapse" data-target="#toggleNav"
        aria-controls="toggleNav" aria-expanded="false"><i class="aha-icon-hamburger"></i></button>
      <div class="justify-content-lg-center collapse navbar-collapse aui-pri-nav" id="toggleNav">
        <ul class="navbar-nav mx-lg-3 flex-lg-row flex-column">
          <li class="d-flex nav-item px-lg-3">
            <a href='{% url "products:home" %}' class="btn btn-text nav-link">Home</a>
          </li>
          <li class="d-flex nav-item px-lg-3">
            <a href='{% url "books:home" %}' class="btn btn-text nav-link">Books</a>
          </li>
          <li class="d-flex nav-item px-lg-3">
            <a href='{% url "products:sell" %}' class="btn btn-text nav-link">Sell a Product</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="profile-pic-container position-absolute dropdown dropleft ">
      <img src="{{ profile }}" class="profile-pic dropdown-toggle" id="navDropdown1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" alt="Profile Pic" />
      <div class="dropdown-menu profile-dropdown" aria-labelledby="navDropdown1" role="menu">
        <ul class="p-0 m-0">
          <li><a class="dropdown-item py-2" href='{% url "accounts:profile" %}'>Profile</a></li>
          <li><a class="dropdown-item py-2" href='{% url "accounts:logout" %}'>Sign Out</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="content p-1 mt-5 mb-5">
    {% block content %}
    {% endblock %}
  </div>
  <footer>© 2024 <a href="/">Campus Cart</a></footer>
</body>

</html>