{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
{% if theme == 'primary' %}
<link rel="stylesheet" href="{% static 'css/notifications.css' %}" type="text/css" />
{% else %}
<link rel="stylesheet" href="{% static 'css/notifications-custom.css' %}" type="text/css" />
{% endif %}
{% endblock %}
{% block content %}

<div class="container position-relative">
    <div class="pt-4">
        <h1>Your Notifications</h1>
        <div class="notification-header-underline"></div>
    </div>
    <div class="mt-4">
        <div class="notification-container d-flex flex-column w-75 m-auto">
            {% if notifications %}
            {% for notification in notifications %}
            <div class="notification-box d-flex align-items-center">
                <a href="{% url 'accounts:profile-view' notification.actor.username %}"
                    class="notification-user-pic-container"><img
                        src="{{ notification.actor.profile.profile_image.url }}" class="profile-pic"
                        alt="Profile Pic" />
                </a>
                <div class="notification-description">
                    <div>
                        {%if notification.verb == 'Upload' %}
                        <b>{{ notification.actor.first_name }} {{ notification.actor.last_name }}</b> uploaded a new
                        Item
                        {% elif notification.verb == 'Comment' %}
                        <b>{{ notification.actor.first_name }} {{ notification.actor.last_name }}</b> commented on your
                        profile
                        {% endif %}
                    </div>
                    <p>
                        {% autoescape off %}
                        {{ notification.description }}
                        {% endautoescape %}
                    </p>
                    <div>{{ notification.timestamp }}</div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h2 class="text-center mt-4">No New Notifications to display.</h2>
            {% endif %}
        </div>
    </div>
</div>
<script>
    const profilePic = document.querySelectorAll('.notification-user-pic-container');
    if (profilePic.length > 0) {
        profilePic.forEach((url) => {
            url.addEventListener('click', () => {
                const wrapper = document.querySelector('.wrapper');
                wrapper.classList.remove('display-none');
            })
        })
    }
</script>
{% endblock content %}