{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/events.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="container position-relative">
    <a class="position-absolute upload-event" href='{% url "events:upload-event" %}'>Add an Event</a>
    <div class="books-header pt-4">
        <h1>Events</h2>
            <div class="events-header-underline"></div>
    </div>
    <div class="mt-4">
        <div class="custom-container">
            <div class="card__container">
                {% for event in events %}
                <div class="item-container">
                    <div class="image-container">
                        <img src="{{ event.image.url }}" alt="event image">
                    </div>

                    <div class="body-container">
                        <div class="overlay"></div>

                        <div class="event-info">
                            <p class="title">{{ event.title }}</p>
                            <div class="separator"></div>
                            <p class="info">{{ event.category }}</p>
                            <p class="price">${{ event.price}}</p>

                            <div class="additional-info">
                                <p class="info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ event.location }}
                                </p>
                                <p class="info">
                                    <i class="far fa-calendar-alt"></i>
                                    {{ event.date_and_time }}
                                </p>

                                <p class="info description">
                                    {{ event.description|truncatechars:60}}
                                
                                <span class="info-description"><a href="{% url 'events:event-detail' event.id %}"></a>more...</span>
                            </p>
                            </div>
                        </div>  
                        <button class="action" onclick="window.location.href='{% url 'events:event-detail' event.id %}'">Buy Tickets</button>
                    </div>
                </div>
                {% endfor %}
</div>
</div></div>
</div>
{% endblock content %}