{% extends "base.html" %}
{% load static %}
{% block head %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/events.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/free.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/eventdetail.css' %}" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


{% endblock %}
{% block content %}

<section class="home">
    <div class="blur-background" style="background-image: url('{{ event.image.url }}');"></div>
    <div class="content pt-5">
        <h2>  {{ event.title }}</h2>
        <p>{{ event.description }}</p>
        <p><i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
        <p><i class="far fa-calendar-alt"></i> {{ event.date_and_time }}</p>
        <p>${{ event.price }}</p>
        <p>Available Seats: {{ event.total_seats }}
        <div>
            {% if event.is_sold %}
            <span class="badge badge-pill badge-danger">Sold Out</span>
            {% endif %}
        </div>
    </div>
    <div class="wrapper-login">
        <h2>Join the event</h2>
        <button
            onclick="window.location.href='msteams:/l/chat/0/0?users={{ event.organizer.email }}&message=I want to register for the Event'"
            class="button">Contact Organizer</button>
        <div class="launch-time d-flex flex-column align-items-center justify-content-center mt-5">
            {% if remaining_time_str == 'Event has Expired' %}
            <span id="countdown">Event has Expired !!</span>
            {% else %}
            <span>Remaining Time</span>
            <span id="countdown">{{ remaining_time_str.days }} Days : {{ remaining_time_str.hours }} Hours :
                {{ remaining_time_str.minutes }} Minutes :
                {{ remaining_time_str.seconds }} Seconds</span>
            {% endif %}
        </div>
    </div>
</section>
<div class="container position-relative">
    <div class="books-header pt-4">
        <h2>Upcoming Events</h2>
        <div class="events-header-underline"></div>
    </div>
    <div class="mt-4">
        <div class="custom-container">
            <div class="card__container">
                {% if upcomingevents %}
                {% for event in upcomingevents %}
                <div class="item-container">
                    <div class="image-container">
                        <img src="{{ event.image.url }}" alt="event image">
                    </div>

                    <div class="body-container">
                        <div class="overlay"></div>

                        <div class="event-info">
                            <p class="title">{{ event.title }}</p>
                            <div class="separator"></div>
                            <p class="info">{{ event.category }}</p>
                            <p class="price">${{ event.price}}</p>

                            <div class="additional-info">
                                <p class="info">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ event.location }}
                                </p>
                                <p class="info">
                                    <i class="far fa-calendar-alt"></i>
                                    {{ event.date_and_time }}
                                </p>
                                <p class="info description">
                                    {{ event.description|truncatechars:30}}
                                </p>
                            </div>
                        </div>
                        <a class="action" href="{% url 'events:event-detail' event.id %}">View Details</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-info mt-3" role="alert">
                    No Events available.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const countdownElement = document.getElementById('countdown');
        // Function to parse the initial countdown time
        function parseInitialCountdown() {
            const parts = countdownElement.innerText.split(' : ');
            const days = parseInt(parts[0], 10);
            const hours = parseInt(parts[1], 10);
            const minutes = parseInt(parts[2], 10);
            const seconds = parseInt(parts[3], 10);
            return { days, hours, minutes, seconds };
        }

        // Calculate the target date based on the initial countdown
        function calculateTargetDate({ days, hours, minutes, seconds }) {
            const now = new Date();
            return new Date(now.getTime() + days * 24 * 60 * 60 * 1000 + hours * 60 * 60 * 1000 + minutes * 60 * 1000 + seconds * 1000);
        }

        // Update the countdown every second
        function updateCountdown(targetDate) {
            const now = new Date();
            const distance = targetDate - now;

            if (distance < 0) {
                clearInterval(interval);
                countdownElement.innerText = "EXPIRED";
                return;
            }

            // Time calculations for days, hours, minutes, and seconds
            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            countdownElement.innerText = `${days} Days : ${hours} Hours : ${minutes} Minutes : ${seconds} Seconds`;
        }

        if (countdownElement.innerHTML != 'Event has Expired !!') {
            const initialCountdown = parseInitialCountdown();
            const targetDate = calculateTargetDate(initialCountdown);
            const interval = setInterval(() => updateCountdown(targetDate), 1000);
        }
    });
</script>

{% endblock content %}